.background{
  /* background-color: #7399bd; */
  background-color: #e9e2ce;
}

#header{
  /* background-color: #E2E9CE; */
  background-color: #7399bd;
  width: 100%;
  height: 150px;
}

.logo img{
  width: 150px;
  position: absolute;
  padding: 10px 0 0 10px;
  float: left;
}

.navigation{
  float: right;
  margin-top: 20px;
  padding: 40px 100px 0 0;
}

.navigation ul{
  margin: 0;
  padding: 0;
}

.navigation ul li{
  display: inline-block;
  margin-left: 20px;
}

.navigation ul li a{
  text-decoration: none;
  padding-top: 15px;
  color: black;
  font-weight: bold;
  transform: .2s;
}

.navigation ul li a:hover {
  color: #f00 !important;
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
} 

.gambarDashboard img{
  width: 100%;
  height: 800px;
}

.imgContent img{
  padding-top: 10px;
  width: 100%;
  height: 525px;
}

.imgContentLeft img {
  width: 100%;
  height: 100%;
  float: left;
}

#Right{
  width: 49%;
  height: 100%;
  height: 250px;
}

.imgContentRight img {
  width: 100%;
  float: right;
}

#Berita{
  align-items: center;
}

#Berita .IsiBerita{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12pt;
}

#Berita .IsiBerita img{
  width: 500px;
}

.about{
  padding: 50px 0 50px 0;
}

.about p{
  text-align: justify;
}

.footer{
  background-color: #1c477f;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}